{% extends 'base.html' %}
{% block title %} Select which day {% endblock %}
{% block content %}
{% load static %}
<div id="body">
	<div>
				<h1>About HAN Volleyball</h1>
				<img src="{% static 'website/images/isbteam.jpg' %}" alt=""width ="400" height="400">
				<h2>ISB</h2>
				<p>For around 7 years now the HAN has organized weekly free sports for their students. The HAN are one of the few schools who concern themselves with the physical health of their students and have therefore started organizing free sports events for their students.<br><br>The ISB organization ogranizes not only volleyball but also football and basketball. Besides sports events they also organize gatherings for students like book clubs, spanish food nights, holiday events and way more all for FREE! So make sure to go follow their instagram account. <a href="https://www.instagram.com/isbinternationalcommunity/" class="instagram">instagram</a> </p></p>
				<h2>The coordinator of Volleyball</h2>
				<img src="{% static 'website/images/coordinator.jpeg' %}" alt="" width ="300" height="300">
				<p>Hello everyone!<br>My name is Yorrick and I have been the volleyball coordinator for 2 years now. I have always enjoyed organizing things and </p>
				<h2>Our photographers</h2>
				<div style="text-align: center;">
					<img src="{% static 'website/images/volleyball.png' %}" alt="" width="50" height="50" style="margin-top: -75px; vertical-align: middle;">
					<img src="{% static 'website/images/bilal.jpg' %}" alt="" width="125" height="125" style="margin-top: -75px; vertical-align: middle;">
					<img src="{% static 'website/images/virag.jpg' %}" alt="" width="125" height="125" style="margin-top: -75px; vertical-align: middle;">
				</div>
				<p>google drive links</p>
	</div>
</div>
{% endblock %}