{% extends 'base.html' %}
{% block title %} Select which day {% endblock %}
{% block content %}
{% load static %}
<div id="body">
	<div>
		<center>
				<h1>Contact information</h1>
				
				<h2>ADDRESS</h2>
				<p>For Monday and Friday: Sporthal Kermisland, kermisland 2, 6825JC Arnhem.<br>For Wednesday: sporthal Bethaniën, Bethaniënstraat 246, 6826 SN Arnhem.</p>
				<h2>NUMBERS</h2>
				<p>https://chat.whatsapp.com/BPFM79wMhnuEi0YRhxpEPS <br>above is the link to the whatsapp chat.</p>
				<h2>Email</h2>
				<p>yorrickreuser@hotmail.com<br>han.isb.volleyball@gmail.com</p>
				<h4> <a href="signup">Join Volleyball now</a></h4>
		</center>
	</div>
</div>
{% endblock %}
